USE [master]
GO
/****** Object:  Database [ATSCohort]    Script Date: 12-01-2026 12:41:00 ******/
CREATE DATABASE [ATSCohort]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATSCohort', FILENAME = N'I:\SQLSVR2025\MSSQL17.SQLEXPRESS_2025\MSSQL\DATA\ATSCohort.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATSCohort_log', FILENAME = N'I:\SQLSVR2025\MSSQL17.SQLEXPRESS_2025\MSSQL\DATA\ATSCohort_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATSCohort].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATSCohort]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 12-01-2026 12:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[CandidateID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Status] [nchar](10) NULL,
	[DocumentName] [nvarchar](150) NULL,
	[DocumentHash] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateSkills]    Script Date: 12-01-2026 12:41:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateSkills](
	[CandidateSkillID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateID] [int] NULL,
	[MasterSkillID] [int] NULL,
	[ExperienceMonths] [int] NULL,
	[LastUsedDate] [date] NULL,
	[MatchConfidence] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[CandidateSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[EmbeddingCache]    Script Date: 12-01-2026 12:41:00 ******/
CREATE TABLE [dbo].[EmbeddingCache](
	[CacheID] [int] IDENTITY(1,1) NOT NULL,
	[InputText] [nvarchar](1000) NOT NULL,
	[Embedding] [vector](768) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[AccessedAt] [datetime] NULL,
	[AccessCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CacheID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InputText] UNIQUE NONCLUSTERED 
(
	[InputText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[EmbeddingCache] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO

ALTER TABLE [dbo].[EmbeddingCache] ADD  DEFAULT (getdate()) FOR [AccessedAt]
GO

ALTER TABLE [dbo].[EmbeddingCache] ADD  DEFAULT ((1)) FOR [AccessCount]
GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[Jobs]    Script Date: 12-01-2026 12:43:12 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Jobs](
	[JobID] [uniqueidentifier] NOT NULL,
	[JobType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Progress] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[InputData] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (newid()) FOR [JobID]
GO

ALTER TABLE [dbo].[Jobs] ADD  DEFAULT ((0)) FOR [Progress]
GO

ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO

ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[MasterSkills]    Script Date: 12-01-2026 12:43:58 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[MasterSkills](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Information] [nvarchar](max) NULL,
	[IsProgrammingLanguage] [bit] NULL,
	[IsFramework] [bit] NULL,
	[IsTool] [bit] NULL,
	[Backend] [bit] NULL,
	[Testing] [bit] NULL,
	[SkillVector] [vector](768) NULL,
	[InformationVector] [vector](768) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[UnmappedSkills]    Script Date: 12-01-2026 12:44:13 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[UnmappedSkills](
	[UnmappedSkillID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateID] [int] NOT NULL,
	[RawSkillName] [nvarchar](255) NOT NULL,
	[RoleTitle] [nvarchar](255) NULL,
	[ExperienceMonths] [int] NULL,
	[LastUsedDate] [date] NULL,
	[DiscoveryDate] [datetime] NULL,
	[ClosestMasterSkillID] [int] NULL,
	[VectorDistance] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[UnmappedSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[UnmappedSkills] ADD  DEFAULT (getdate()) FOR [DiscoveryDate]
GO

ALTER TABLE [dbo].[UnmappedSkills]  WITH CHECK ADD FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidates] ([CandidateID])
GO

ALTER TABLE [dbo].[UnmappedSkills]  WITH CHECK ADD FOREIGN KEY([ClosestMasterSkillID])
REFERENCES [dbo].[MasterSkills] ([SkillID])
GO


SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO